.dFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

h3 {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 25px;
}

.card {
  width: 30%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  margin-bottom: 50px;
}

.card_img {
  margin-top: 5vw;
}

img {
  width: 200px;
}

.card_header {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 25px 0;
}

h2 {
  font-size: 18px;
  color: orange;
}
p {
  font-size: 14px;
  text-align: center;
  color: white;
  margin: 8px 0;
}

.price {
  font-size: 25px;
  color: aqua;
}

span {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}

.btn {
  font-weight: 600;
  border-radius: 10px;
  border-width: 0px;
  background-color: rgb(238, 104, 15);
  color: rgb(8, 8, 8);
}

.card:hover {
  background-color: lightslategray;
  transform: scale(1.1);
  cursor: pointer;
}
